body {
    background-color: #72AFAD;
}

/*NAVBAR*/
.navbar {
    background-color: #2C3E50;
    font-family: Montserrat;
    opacity: 0.8;
}
.navbar-brand {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.navbar-brand:hover {
    color: #18bc9c;
}
.nav-link {
    color: #fff;
    font-weight: 700;    
    font-size: 16px;
}
#icon {
    color: #fff;
}
.nav-link:hover {
    color: #18bc9c;
}

/*******/

.text {
    padding: 10px;
    background-color: #F7F7F0;
    border-radius: 15px;
    margin-top: 120px;
    //margin-right: 50px;
    //margin-left: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;  
}

.media {
    background-color: #F7F7F0;
    padding: 10px;
    //margin: 10px;
    border-radius: 10px;
}

img {
    width: 50%;
    float: left;
}

.media-body h3 {
    text-align: center;
}
span {
    color: red;
}



footer {
    width: auto;
    background-color: #2C3E50;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
}



