body {
    background-color: #18BC9C;
}

/*NAVBAR*/
.navbar {
    background-color: #2C3E50;
    font-family: Montserrat;
}
.navbar-brand {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.navbar-brand:hover {
    color: #18bc9c;
}
.nav-link {
    color: #fff;
    font-weight: 700;    
    font-size: 16px;
}
#icon {
    color: #fff;
}
.nav-link:hover {
    color: #18bc9c;
}

/*******/

.text {
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 120px;
    margin-right: 50px;
    margin-left: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;  
}

.hobiler {
    width: 50%;
    float: left;

}

.etkinlikler {
    width: 50%;
    float: left;
}

.media {
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

img {
    width: 25%;
    float: left;
}

.media-body h3 {
    text-align: center;
}
span {
    color: red;
}

@media screen and (max-width: 700px) {
    .hobiler {
        width: auto;
    }
    .etkinlikler {
        width: auto;
    }
    img {
        width: 50%;
    }
}



