body {
    background-color: #18BC9C;
}

/*NAVBAR*/
.navbar {
    background-color: #2C3E50;
    font-family: Montserrat;
}
.navbar-brand {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.navbar-brand:hover {
    color: #18bc9c;
}
.nav-link {
    color: #fff;
    font-weight: 700;    
    font-size: 16px;
}
#icon {
    color: #fff;
}
.nav-link:hover {
    color: #18bc9c;
}


/*TABLE*/

.head-table {
    text-align: center;
    color: #fff;
}

table {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.tbody {
    margin-top: 100px;
    padding-top: 20px;
}

img {
    width: 200px;
}


a {
    color: #0C4522;
}

.table td {
    vertical-align: middle;
}

/*CV/TEXT*/

.text {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.text h2 {
    text-align: center;
}



footer {
    background-color: #2C3E50;
    font-family: Montserrat;
}




