body {
    background-color: gray;
}
/*NAVBAR*/
.navbar {
    background-color: #2C3E50;
    font-family: Montserrat;
}
.navbar-brand {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.navbar-brand:hover {
    color: #18bc9c;
}
.nav-link {
    color: #fff;
    font-weight: 700;    
    font-size: 16px;
}
#icon {
    color: #fff;
}
.nav-link:hover {
    color: #18bc9c;
}


footer {
    background-color: #2C3E50;
    font-family: Montserrat;
}

form {
    margin-top: 150px;
}