body {
    background-color: #4FC5B0;
}
/*NAVBAR*/
.navbar {
    background-color: #2C3E50;
    font-family: Montserrat;
}
.navbar-brand {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.navbar-brand:hover {
    color: #18bc9c;
}
.nav-link {
    color: #fff;
    font-weight: 700;    
    font-size: 16px;
}
#icon {
    color: #fff;
}
.nav-link:hover {
    color: #18bc9c;
}


footer {
    background-color: #2C3E50;
    font-family: Montserrat;
}

form {
    margin-top: 150px;
    //background-color: rgb(151,140,139);
    background-color: #9CA09E;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sosyal {
    text-align: center;
    margin-bottom: 20px;
}
.sosyal i {
    font-size: 40px;
}
a {
    color: #080C56;
}
a:hover {
    color: #fff;
}

.butonlar {
    text-align: center;
}

.btn {
    background-color: #18bc9c;
    color: #fff;
}
.btn:hover {
    background-color: #fff;
}

